<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DroneNET</title>
    <link rel="stylesheet" href="{% static "dashboard/css/blank.css"%}">

    {% block head %}
    {% endblock %}

</head>
<body>
        <header>
            <h1 id="DN-logo">DroneNET</h1>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    <script src="{% static "dashboard/js/blank.js"%}"></script>
</body>
</html>