{% extends "dashboard/blank.html" %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static "dashboard/css/overview.css"%}">
{% endblock %}



{% block main %}
    <div class="card">
        <h2>Drone1</h2>
        <div class="info">
            <span id="x">X-pos:<br>0</span>
            <span id="y">Y-pos:<br>0</span>
            <span id="speed">Speed:<br>0 km/t</span>
            <span id="alt">Alt:<br>0 m</span>
            <span id="task">Current task:<br>Lorem ipsum dolor sit amet.</span>
        </div>
        <button>Details</button>
    </div>

    <div class="add_card">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/>
        </svg>
    </div>
    <script src="{% static "dashboard/js/ajax_req.js"%}"></script>
{% endblock %}